@{
    ViewBag.Title = "Nosotros";
}
<br>
<br>
<div class="jumbotron">
    <h1 align="center">¿Quienes somos?</h1>
    <p class="lead">
        Una institución abierta, dinámica,  extramural, en la cual se realizan en forma simultánea y con el mismo interés,funciones tanto preventivas como curativas.
    </p>
    <h1 align="center">¿Cual es nuestra mision?</h1>
    <p class="lead">
        Buscamos como app proporcionar a la población una asistencia médico-sanitaria completa, tanto curativa como preventiva y cuyos servicios externos irradian hacia el ámbito familiar.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Doctores</h2>
        <p>
            Conocerás nuestros doctores disponibles junto a sus horarios
        </p>
        <img src="https://img.freepik.com/vector-premium/doctores-grupo-trabajadores-salud-medico-jefe-especialistas-medicos_165429-5.jpg" width="310"
             height="300">
        <br>
        <br>
       
    </div>
    <div class="col-md-4">
        <h2>Habitaciones</h2>
        <p>
            Encontraras la habitacion de tu familiar o conocido que deseas visitar.
        </p>
        <img src="https://us.123rf.com/450wm/urfingus/urfingus1712/urfingus171200016/92420296-concepto-m%C3%A9dico-pasillo-del-hospital-con-habitaciones-ilustraci%C3%B3n-3d.jpg" width="310"
             height="300">
        <br>
        <br>
        
    </div>
    <div class="col-md-4">
        <h2>Pasantes</h2>
        <p>
            Conocerás pasantes que se estaran publicando en nuestro sitio.
        </p>
        <img src="https://img.freepik.com/fotos-premium/equipo-medicos-o-pasantes_151013-30637.jpg" width="310"
             height="300">
        <br>
        
        
    </div>

</div>
