@{
    ViewBag.Title = "Contacto";
}
<br>
<br>
<h1 align="center">Contacta con nosotros</h1>
<hr>


<div class="row">
    <div class="col-md-4">
        <h2 align="center">Nuestra oficina</h2>
        <img src="https://us.123rf.com/450wm/rukach/rukach1902/rukach190200191/117041020-icono-de-s%C3%ADmbolo-de-casa-moderna-ilustraci%C3%B3n-vectorial-plana.jpg?ver=6" width="300"
             height="300">
        <br>
        <p align="center"> Calle Ingeniero Huáscar Tejeda, #54, Zona Universitaria.</p>
    </div>
    <div class="col-md-4">
        <h2 align="center">Datos de contacto</h2>
        <img src="https://images.vexels.com/media/users/3/136397/isolated/preview/375e0e784a1623517b75ea61bc1db555-icono-de-mensaje-basico.png" width="300"
             height="300">
        <br>
        <p align="center">809-577-1125 / 829-586-5900</p>
    </div>
    <div class="col-md-4">
        <h2 align="center">e-mail</h2>
       
        <img src="https://images.vexels.com/media/users/3/130187/isolated/preview/5e8d2205ecc8cde3235581fc5ecfa430-icono-de-contorno-de-correo-electronico.png" width="300"
             height="300">
        <br>
        
        <p align="center">Eduardoantoniosanchezbaez@gmail.com  Reisher62@gmail.com</p>
    </div>
</div>


