@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>¿Quienes somos?</h1>
    <p class="lead">
        Una institución abierta, dinámica,  extramural, en la cual se realizan en forma simultánea y con el mismo interés,funciones tanto preventivas como curativas.
    </p>
    <h1>¿Cual es nuestra mision?</h1>
    <p class="lead">
        Buscamos como app proporcionar a la población una asistencia médico-sanitaria completa, tanto curativa como preventiva y cuyos servicios externos irradian hacia el ámbito familiar.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Doctores</h2>
        <p>
            ¿Quieres conocer nuestros doctores disponibles junto a sus horarios ?
        </p>
        <img src="https://img.freepik.com/vector-premium/doctores-grupo-trabajadores-salud-medico-jefe-especialistas-medicos_165429-5.jpg" width="310"
     height="300">
        <br>
        <br>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Click aqui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Habitaciones</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pasantes</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>