<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
        <h5>Otras funciones</h5>
        <p>Contenido en proceso</p>
    </div>
</aside>